.promo {
    margin-bottom: 40px;
}

.promo__content {
    max-width: 1500px;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    column-gap: 124px;
    margin-top: 40px;
    margin-bottom: 40px;
    

}

.promo__img {
    padding-top: 40px;
    
}

.promo__text {
    display: flex;
    flex-direction: column;
    padding-top: 171px;
    padding-bottom: 172px;
    padding-right: 80px;
    
}

h1 {
    font-size: 40px;
    font-weight: 500;
    color: #1C2024EB;
    white-space: pre-wrap;
}

.welcome__text {
    color: #1C2024B8;
    font-weight: 400;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 24px;
    line-height: 24px;

}

.btn {
    background-color: #111113;
    width: 314px;
    height: 48px;
    padding: 8px, 24px, 8px, 24px;
    

}

.text__btn {
    color:#EDEEF0F5;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    
}




@media (max-width:1500px) {
    .promo__content {
        padding: 40px;
    }
    .promo__text {
        padding-top: 80px;
    }
}


@media (max-width:1200px) {

    .promo__text {
        padding-top: 70px
        

    }

    .promo__img {
        padding-top: 60px;
        
    }
    

    h1 {
        font-size: 30px;
        
    }
    .welcome__text {
        font-size: 18px;
        line-height: 23px;
    }
    .btn {
        width: 290px;
        height: 45px

    }

    .text__btn {
        font-size: 18px;

    }
    
    
    }


    @media (max-width:990px) {

        h1 {
            font-size: 25px;
        }
        .welcome__text {
            font-size: 17px;
            line-height: 21px;
        }

        .promo__text {
            padding-right: 30px;
        }

        .promo__img {

        }

        

        
    }

    @media (max-width:930px) {
        h1 {
            font-size: 23px;
        }
        .welcome__text {
            font-size: 15px;
            line-height: 19px;
        }
        .btn {
            width: 260px;
            height: 40px
    
        }

        .promo__content {
            column-gap: 90px;
        }

    }

    @media (max-width:840px) {

        .promo__text {
            padding-right: 10px;
        }

        .promo__content {
            column-gap: 80px;
        }

    }

    
    @media (max-width:770px) {
        .promo__content {
            column-gap: 60px;
        }
    }



